.Article {
    min-height: 60%;
    padding-top: 8px;
    max-width: 500em;
    margin: 0 auto;
    animation: load 2s;
}

.cardItem {
    list-style: none;
    margin-bottom: 5em;
    animation: move 1.3s ease-in;
}

.cardList {
    width: 100%;
    padding: 0;
}

.content {
    color: grey;
}

.articleTitle {
    cursor: pointer;
}

.articleTitle::after {
    content: "";
    display: block;
    margin-top: .8em;
    height: 1px;
    background: lightgrey;
    animation: lineChange 1.8s;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: flex-end;
}

.more {
    color: lightcoral;
    display: inline-block;
    line-height: 2em;
    width: 6.5em;
    text-align: center;
    outline: 1px solid lightcoral;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.more::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 45px;
    width: 45px;
    background: lightcoral;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
}

.more:hover {
    color: white;
    transition: color .4s;
}

.more:hover::before{
    transform: translate3d(-50%,-50%,0) scale3d(2,2,2);
    border-radius: 50%;
    transform-origin: center;
    transition: transform .4s ease-in-out;
    z-index: -1;
}

.date {
    color: grey;
}

@keyframes lineChange {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        margin-top: 50px;
    }

    100% {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .Article {
        width: 90%;
        position: relative;
    }

    .articleTitle::after {
        margin-top: 25px;
    }

    .cardFooter {
        margin-top: 15px;
    }

    .more {
        width: 80px;
    }
}