.HomePage {
    height: 100%;
}

.logo {
    color: lightcoral !important;
}

.line {
    background-color: lightcoral !important;
}

.header {
    height: 40%;
    margin-bottom: 0;
    position: relative;

}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightcoral;
    font-size: 65px;
    font-weight: 800;
    animation: load 1.8s ease-in;
}

.navBox {
    position: relative;
}

.category {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.body {
    min-height: 50%;
    display: flex;
}

@keyframes load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 43%;
    }

    .title {
        font-weight: 400;
    }

    .navMenu {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        right: 0;
        width: 35%;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .navMenu li {
        flex-grow: 1;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navMenu li:hover {
        transition: color .6s;
        color: lightcoral;
    }

    .navMenu li:hover::after {
        animation: lineChange .8s forwards;
    }

    .navMenu li::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 1px;
        background: lightcoral;
    }

    @keyframes lineChange {
        0% {
            width: 0;
        }
        100% {
            width: 75%;
        }
    }
}
